{:paths ["src" "workshop"]
 :deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript.git"
                                   :sha "82c10925eb8d9c3cecf23447ddf4e1342f120b69"}
        ;; punk/adapter-web {:local/root "../adapter-web"}
        lilactown/punk-adapter-web {:mvn/version "0.0.1"}
        }}
