{:paths ["src"]
 :deps {punk/core {:local/root "../core"}}
 :aliases
 {:dev
  {:extra-deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript.git"
                                           :sha "82c10925eb8d9c3cecf23447ddf4e1342f120b69"}}}}}
