{:paths ["src" "workshop"]
 :deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript.git"
                                   :sha "82c10925eb8d9c3cecf23447ddf4e1342f120b69"}
        binaryage/devtools {:mvn/version "0.9.7"}
        devcards {:mvn/version "0.2.5"}
        lilactown/hx {:mvn/version "0.2.5"}
        lilactown/hx-frisk {:mvn/version "0.0.2-SNAPSHOT"}}}
