{:deps true
 :builds
 {:workshop {:target :browser
             :output-dir "public/workshop/js"
             :asset-path "/js"
             :modules {:main {:entries [punk.ui.core]}
                       :workshop {:entries [punk.workshop]
                                  :depends-on #{:main}}
                       :cards {:entries [punk.workshop.devcards]
                               :depends-on #{:main}}}
             :compiler-options {:devcards true}
             :devtools {:http-root    "public/workshop"
                        :http-port    8700
                        :preloads     [devtools.preload]}}

  :app {:target :browser
        :output-dir "target/out"
        ;;:asset-path "/js"
        :modules {:main {:entries [punk.ui.core]}
                  :remote {:entries [punk.ui.remote]
                           :depends-on #{:main}}}}}}
